@{
    ViewBag.Title = "À propos de";
}
<h2>@ViewBag.Title</h2>

<p>
    Movies manager développé par Iohann Paquette - 2021/05/25
</p>
<div style="background-color:wheat;width:300px;text-align:justify;">
    <img style="text-align:center;"src="https://img.icons8.com/pastel-glyph/2x/movie-beginning.png" />
</div>